body {
  font-family: var(--font-cabin), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
}

.parallax-container {
  /* min-height: calc(100vh - var(--header-height)); */
  z-index: 1;
}

.parallax-bg {
  max-height: calc(100vh - var(--header-height));
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.parallax-layer {
  background-size: contain !important;
  background-repeat: no-repeat;
}

.parallax-footer {
  background-size: contain !important;
  background-repeat: no-repeat;
  z-index: 2;
  bottom: calc(100vh + var(--header-height)) !important;
  top: auto !important;
}
