@import "tailwindcss/base";
@import "@radix-ui/themes/styles";

@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --popover: 0 0 100%;
  --radius: 6px;

  --sunrise-color: #f9f2d8;
  --guarumo-primary: #034b25;
  --guarumo-secondary: #18181b;
  --guarumo-accent: #9d1f60;

  --header-height: 96px;
  --footer-height: 128px;

  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 148 92% 15%;
  --primary-foreground: 356 29% 98%;
  --secondary: 329 67% 37%;
  --secondary-foreground: 240 5.9% 10%;
  --tertiary: 88 24% 20%;
  --teriary-foreground: 240 5.9% 10%;
  --muted: 240, 4.8%, 95.9%;
  --muted-foreground: 240 3.8% 45%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72% 51%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 142 86% 28%;
  --radius: 0.5rem;
  --prose-body: #374151;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 240, 5%, 34%;
    --foreground: 0, 0%, 98%;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --card-foreground: 0, 0, 0;
    --card: 240, 2%, 26%;
    --border: 148, 92%, 15%;
    --muted: 240, 2%, 26%;
    --muted-foreground: 240, 5%, 84%;
    --prose-body: hsl(240, 6%, 90%);
    --guarumo-sky: #082f49;
    --guarumo-sunset: #b45309;
    --accent: 204, 80%, 16%;
    --popover: 204, 80%, 16%;
    --popover-foreground: 0, 0%, 98%;
    --gradient: radial-gradient(
      circle at center top,
      color(from var(--guarumo-sunset) srgb r g b / 0.6),
      color(from var(--guarumo-sky) srgb r g b / 0.6) 40%
    );
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer select {
}
