@import "header.css";
@import "parallax.css";

body {
  font-family: var(--font-cabin), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
}

.carousel {
  height: calc(100vh - var(--header-height));
}

.carousel-content {
  height: 100%;
}

.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin: 0 auto;
  position: relative;
}
.column {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

.tour {
  margin: 4rem 0;
}

@supports (animation-timeline: scroll()) {
  .column-reverse {
    flex-direction: column-reverse;

    animation: adjust-position linear forwards;
    animation-timeline: scroll(root block);
  }
}

@keyframes adjust-position {
  0% {
    transform: translateY(calc(-100% + 100vh));
  }
  100% {
    transform: translateY(calc(100% - 100vh));
  }
}
