@import "header.css";
@import "parallax.css";

body {
  font-family: var(--font-cabin), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
}

.carousel {
  height: calc(100vh - var(--header-height));
}

.carousel-content {
  height: 100%;
}


