@import "header.css";
@import "parallax.css";

html {
  scroll-behavior: smooth !important;
}
body {
  font-family: var(--font-cabin), sans-serif;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-family: var(--font-poppins), sans-serif;
  color: var(--guarumo-primary);
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

:lang(ru) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6,
  nav a {
    font-family: var(--font-comfortaa), sans-serif;
    font-weight: 700;
  }
  body {
    font-family: var(--font-didact), sans-serif;
    font-weight: 400;
  }
}

.prose {
  max-width: 60rem;
}

.prose h2,
.prose p {
  margin: 1rem 0;
}

.prose p + p {
  margin-top: 0;
}

.fancy-underline {
  position: relative;
}

.fancy-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  height: 2px;
  width: 0;
  background: var(--guarumo-accent);
  transition:
    width 0.3s ease 0s,
    left 0.3s ease 0s;
}

.fancy-underline:hover::after {
  width: 100%;
  left: 0;
}

.fancy-underline.active:hover {
  cursor: default;
}
.fancy-underline.active:hover::after {
  display: none;
}

.footer-link,
.footer-link svg {
  transition: all 0.3s linear;
}
.footer-link {
  text-shadow: #fff 1px 0 1px;
  text-transform: capitalize;
}
.footer-link:hover svg {
  fill: var(--guarumo-accent);
}

.carousel {
  height: calc(100vh - var(--header-height));
}

.carousel-content {
  height: 100%;
}

.columns {
  /* grid-template-columns: repeat(3, 1fr); */
  /* gap: 2rem; */
  margin: 0 auto;
  position: relative;
}

.tour {
  margin: 0.75rem 0;
}

.gallery-item {
  transform: translateY(0) skewX(-15deg);
  backface-visibility: hidden;
  transition: all 0.7s ease-in;
  flex: 1;
  cursor: pointer;
  background: no-repeat center;
  background-size: cover;
}

.gallery-item img {
  transform: translateX(-15%) skew(15deg);
  object-fit: cover;
  height: 100%;
  max-width: none;
  object-position: center;
}
.gallery-item.active {
  flex: 5;
}

@media screen and (min-width: 768px) {
  .portable-text-p,
  .prose ul,
  .prose ul li:first-child,
  .prose ol,
  .prose ol li:first-child {
    margin-top: 0;
  }
}

.portable-text-p:has(+ h2),
.portable-text-p:last-child {
  grid-column: span 2;
}

/* @media screen and (min-width: 1024px) {
  @supports (animation-timeline: scroll()) {
    .column-reverse {
      flex-direction: column-reverse;

      animation: adjust-position linear forwards;
      animation-timeline: scroll(root block);
    }
  }
} */

@keyframes blink {
  50% {
    stroke: transparent;
  }
}
.loader circle {
  animation: 1s blink infinite;
}
.loader circle:nth-child(2) {
  animation-delay: 250ms;
}
.loader circle:nth-child(3) {
  animation-delay: 500ms;
}

@keyframes adjust-position {
  0% {
    transform: translateY(calc(-100% + 100vh));
  }
  100% {
    transform: translateY(calc(100% - 100vh));
  }
}
